@import 'tailwindcss';
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

::-webkit-scrollbar-thumb {
  background: #373a40;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4d52;
}

/* Smooth scroll behavior */
html {
  background-color: black;
  background-image: url('/assets/img/klyaksa.svg');
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer utilities {
  /* Анимации */
  @keyframes typing1 {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes typing2 {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  @keyframes hide-caret {
    to {
      border-right: none;
    }
  }

  /* Первый кусок текста */
  .typewriter-1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid orange;
    display: inline-block;
    letter-spacing: 0.15em;
    animation:
      typing1 2s steps(40, end),
      blink-caret 0.75s step-end infinite,
      hide-caret 0s linear forwards;
    animation-delay:
      0s,
      /* typing */ 0s,
      /* blink */ 0.7s; /* скрытие курсора */
  }

  /* Второй кусок текста */
  .typewriter-2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid orange;
    display: inline-block;
    letter-spacing: 0.15em;
    animation:
      typing2 3s steps(40, end),
      blink-caret 0.75s step-end infinite,
      hide-caret 0s linear forwards;
    animation-delay:
      0s,
      /* typing */ 0s,
      /* blink */ 3s; /* скрытие курсора */
  }
}