@import 'tailwindcss';
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

::-webkit-scrollbar-thumb {
  background: #373a40;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4d52;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer utilities {
  /* Анимации */
  @keyframes typing1 {
    from {
      width: 0ch;
    }
    to {
      width: 6ch;
    } /* "Hi I am" = 6 символов включая пробел */
  }

  @keyframes typing2 {
    from {
      width: 0ch;
    }
    to {
      width: 14.5ch;
    } /* "Akhmetov Imran" = 15 символов включая пробел */
  }
}

@keyframes hide-caret {
  to {
    border-right: none;
  }
}

/* Первый кусок текста */
.typewriter-1 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 0; /* стартовая ширина 0 */
  animation: typing1 1.5s linear forwards; /* 1.5s — скорость печати */
}

.typewriter-2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 0; /* стартовая ширина 0 */
  animation: typing2 1.5s linear forwards; /* такая же скорость */
  animation-delay: 1.5s; /* ждём пока первый текст закончится */
}

/*убрал (solid #fd6f00) делает бордер-райт (не нравится) работает с (blink-caret 0.75s step-end infinite,) и  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #fd6f00;
    }
  }
  /*
  typing 0s,
  blink 0.7s; /* скрытие курсора */

html[data-theme='dark'] {
  background: #111;
  color: white;
  background-image: url('/assets/img/klyaksa.svg');
}

html[data-theme='light'] {
  background: white;
  color: black;
}
